@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrollbarSize: 0.375rem;
    --togglerSize: 5rem;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }

  *,
  *::before,
  *::after {
    font-family: 'Cairo', sans-serif;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .rtl {
    direction: rtl;
  }
}

@layer components {
  .underline-hover {
    @apply relative before:h-0.5 before:w-0 before:absolute py-2 px-6 rounded-lg text-sm xl:text-base hover:bg-opacity-50 outline-offset-8 before:bottom-0 before:right-0 before:transition-all hover:before:w-full md:bg-transparent md:bg-opacity-0 md:py-0 md:px-0 md:rounded-none md:hover:bg-opacity-0 dark:text-gray-200 md:before:bg-green-500;
  }

  .maceta-central {
    position: relative;
    top: 30px;
    width: 120px;
    height: 100px;
    border: 4px solid #665a48;
    background-color: #c27664;
    border-bottom-left-radius: 15% 40%;
    border-bottom-right-radius: 15% 40%;
  }
  .maceta-central-top {
    position: relative;
    top: -4px;
    width: 140px;
    height: 30px;
    right: 15px;
    border: 4px solid #665a48;
    background-color: #c27664;
    border-radius: 10px;
  }
  .cactus-cero {
    position: relative;
    top: -250px;
    left: -60px;
    width: 250px;
    height: 250px;
    background-color: #9cff2e;
    border-radius: 50%;
    border: 4px solid #367e18;
  }
  .interno-cactus {
    position: absolute;
    top: -4px;
    left: 70px;
    width: 100px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border-top-left-radius: ;
    border: 4px solid #367e18;
  }
  .pinchos-cactus-cero {
    position: absolute;
    top: -4px;
    left: 70px;
    width: 100px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border-top-left-radius: ;
    border: 4px solid #367e18;
  }
  .cactus-pincho {
    position: absolute;
    top: 125px;
    left: -20px;
    width: 20px;
    height: 4px;
    background-color: #367e18;
  }
  .ext1 {
    top: 37px;
    left: 7px;
    transform: rotate(36deg);
  }
  .ext2 {
    top: -9px;
    left: 70px;
    transform: rotate(72deg);
  }
  .ext3 {
    top: -10px;
    left: 155px;
    transform: rotate(108deg);
  }
  .ext4 {
    top: 45px;
    left: 225px;
    transform: rotate(144deg);
  }
  .ext5 {
    top: 130px;
    left: 250px;
    transform: rotate(180deg);
  }
  .ext6 {
    top: 220px;
    left: 210px;
    transform: rotate(216deg);
  }
  .ext7 {
    top: 260px;
    left: 140px;
    transform: rotate(252deg);
  }
  .ext8 {
    top: 250px;
    left: 65px;
    transform: rotate(288deg);
  }
  .inter9 {
    top: 200px;
    left: 0px;
    transform: rotate(324deg);
  }
  .inter0 {
    top: 125px;
    left: -22px;
    transform: rotate(360deg);
  }
  .inter1 {
    width: 30px;
    top: 55px;
    left: 65px;
    transform: rotate(3deg);
  }
  .inter2 {
    width: 30px;
    top: 30px;
    left: 145px;
    transform: rotate(-5deg);
  }
  .inter3 {
    width: 30px;
    top: 120px;
    left: 55px;
    transform: rotate(0deg);
  }
  .inter4 {
    width: 30px;
    top: 170px;
    left: 60px;
    transform: rotate(-5deg);
  }
  .inter5 {
    width: 30px;
    top: 220px;
    left: 75px;
    transform: rotate(-3deg);
  }
  .inter6 {
    width: 30px;
    top: 195px;
    left: 152px;
    transform: rotate(3deg);
  }
  .inter7 {
    width: 30px;
    top: 150px;
    left: 160px;
    transform: rotate(5deg);
  }
  .inter8 {
    width: 30px;
    top: 80px;
    left: 160px;
    transform: rotate(-5deg);
  }
  .cactus-izq {
    position: relative;
    top: -280px;
    left: 15px;
    width: 80px;
    height: 235px;
    background: #9cff2e;
    border: 4px solid #367e18;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }
  .cactus-part1 {
    position: relative;
    top: 90px;
    left: -108px;
    width: 100px;
    height: 50px;
    background-color: #9cff2e;
    border: 4px solid #367e18;
    border-bottom-left-radius: 30px;
  }
  .cactus-part2 {
    position: relative;
    top: -58px;
    left: -108px;
    width: 50px;
    height: 90px;
    background-color: #9cff2e;
    border: 4px solid #367e18;
    border-bottom: #9cff2e;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .pincho-base {
    position: relative;
    top: -90px;
    left: -22px;
    width: 20px;
    height: 4px;
    background-color: #367e18;
  }
  .base1 {
    top: -162px;
    left: 0px;
    transform: rotate(45deg);
  }
  .base2 {
    top: -160px;
    left: 65px;
    transform: rotate(130deg);
  }
  .base3 {
    top: -85px;
    left: 83px;
  }
  .base4 {
    top: -20px;
    left: 83px;
  }
  .base5 {
    left: 83px;
    top: 45px;
  }
  .base6 {
    top: 15px;
  }
  .base7 {
    top: 60px;
    left: 40px;
    transform: rotate(90deg);
  }
  .base8 {
    top: 35px;
    left: -20px;
    transform: rotate(-25deg);
  }
  .base9 {
    top: 70px;
  }
  .base10 {
    top: -4px;
    left: -14px;
    transform: rotate(35deg);
  }
  .base11 {
    top: 15px;
    left: 54px;
  }

  /* Dark Mode toggler  */
  #toggleTheme {
    display: none;
  }

  .toggle {
    height: var(--togglerSize);
    width: calc(var(--togglerSize) * 2.5);
    border-radius: 9999px;
    background: linear-gradient(to bottom, #6ec8ff, #1f73a7);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 6px 6px 10px #0000003d;
  }

  .mountains {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #1d7371;
    transition: all 0.5s ease-in-out;
    clip-path: polygon(
      0% 80%,
      25% 50%,
      40% 70%,
      60% 35%,
      65% 45%,
      80% 20%,
      100% 80%,
      100% 100%,
      0% 100%
    );
  }

  .cloud {
    height: 8px;
    width: 18px;
    border-radius: 9999px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 10%;
    filter: opacity(0.5);
  }

  .sea {
    height: 200px;
    width: 300%;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    bottom: -500%;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to bottom, #3f75cc, #06063b, #06063b, #06063b, #06063b);
  }

  .sea::before {
    content: '';
    height: 25px;
    width: 15px;
    background-color: rgba(254, 254, 254, 0.34);
    filter: blur(5px);
    position: absolute;
    top: 2%;
    left: 43%;
  }

  .star {
    height: 2px;
    width: 2px;
    position: absolute;
    top: -50%;
    right: 15%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    filter: blur(0.8px);
    border-radius: 50%;
  }

  .star::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -50%;
    right: 20px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
  }

  .star::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 10px;
    right: -20px;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
  }

  .cloud::before {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -50%;
    right: 50%;
    transform: translateX(50%);
  }

  /* ===================== Status ICONS STARTS Here ===================== */
  /* Status Icon with Anitmation */
  .status__icon--success-circle {
    stroke-dasharray: 260.752190248px, 260.752190248px;
    stroke-dashoffset: 260.752190248px;
    animation: status-icon-circle 1.2s linear both;
  }

  .status__icon--success-path {
    stroke-dasharray: 60px 64px;
    stroke-dashoffset: 62px;
    stroke-linecap: round;
    animation: status-icon-path 0.4s 1s ease-in both;
  }

  .status__icon--error-circle {
    stroke-width: 0.2352941176rem;
  }

  .status__icon--error-circle-1 {
    stroke: rgba(223, 64, 64, 0.5);
  }

  .status__icon--error-circle-2 {
    stroke: #df4040;
    stroke-dasharray: 260.752190248px, 260.752190248px;
    stroke-dashoffset: 260.752190248px;
    animation: status-icon-circle 1.2s linear forwards;
  }

  .status__icon--error-line {
    stroke: #df4040;
    stroke-width: 0.2352941176rem;
    stroke-dasharray: 54px 55px;
    stroke-dashoffset: 55px;
    stroke-linecap: round;
  }

  .status__icon--error-line-1 {
    animation: ani-error-line 0.15s 1.2s linear both;
  }

  .status__icon--error-line-2 {
    animation: ani-error-line 0.2s 0.9s linear both;
  }

  .status__icon--loading-circle {
    stroke-width: 0.2352941176rem;
  }

  .status__icon--loading-circle-1 {
    stroke: rgba(64, 137, 223, 0.5);
  }

  .status__icon--loading-circle-2 {
    stroke: #4089df;
    stroke-dasharray: 260.752190248px, 260.752190248px;
    stroke-dashoffset: 260.752190248px;
    animation: status-icon-circle 2s linear both infinite;
  }
  /* ===================== Status ICONS ENDS Here ===================== */

  /* ===================== Toggle Theme STARTS Here ===================== */
  #toggleTheme:checked + .toggle {
    background: linear-gradient(to bottom, #036daf, #003d63);
  }

  .toggle::before {
    content: '';
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10%;
    right: 30%;
    border-radius: 50%;
    background-color: #ffd34d;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 15px #fef95fc3;
  }

  .toggle::after {
    content: '';
    height: 35px;
    width: 35px;
    position: absolute;
    top: 10%;
    left: -60%;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0 10px #ffffff88;
  }

  #toggleTheme:checked + .toggle::before {
    transform: translateX(280%);
  }

  #toggleTheme:checked + .toggle::after {
    transform: translateX(480%);
  }

  #toggleTheme:checked + .toggle .mountains {
    background-color: #05021a;
    transform: translateY(100%);
  }

  #toggleTheme:checked + .toggle .sea {
    background-color: #05021a;
    bottom: -210%;
  }

  #toggleTheme:checked + .toggle .star {
    transform: rotate(10deg);
    top: 20%;
  }
  /* ===================== Toggle Theme END Here ===================== */

  /* ===================== Keyframes STARTS Here ===================== */
  @keyframes valanceocuerda {
    0% {
      transform: translateX(-150px) rotate(-15deg);
    }
    50% {
      transform: translateX(-170px) rotate(15deg);
    }
    100% {
      transform: translateX(-150px) rotate(-15deg);
    }
  }
  @keyframes valanceo {
    0% {
      transform: rotate(-15deg) translateX(calc(50% - 330px)) translateY(-80px);
    }
    50% {
      transform: rotate(15deg) translateX(calc(50% - 460px)) translateY(35px);
    }
    100% {
      transform: rotate(-15deg) translateX(calc(50% - 330px)) translateY(-80px);
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes fly-in {
    0% {
      left: -10%;
      top: 45%;
    }

    30% {
      top: 50%;
    }

    75%,
    100% {
      left: 110%;
    }
  }

  @keyframes status-icon-circle {
    0% {
      stroke-dasharray: 0, 260.752190248px;
      stroke-dashoffset: 0;
    }

    35% {
      stroke-dasharray: 120px, 120px;
      stroke-dashoffset: -120px;
    }

    70% {
      stroke-dasharray: 0, 260.752190248px;
      stroke-dashoffset: -260.752190248px;
    }

    100% {
      stroke-dasharray: 260.752190248px, 0;
      stroke-dashoffset: -260.752190248px;
    }
  }

  @keyframes ani-error-line {
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes status-icon-path {
    0% {
      stroke-dashoffset: 62px;
    }

    65% {
      stroke-dashoffset: -5px;
    }

    84% {
      stroke-dashoffset: 4px;
    }

    100% {
      stroke-dashoffset: -2px;
    }
  }

  /* ===================== Keyframes ENDS Here ===================== */
}

@layer utilities {
  ::-webkit-scrollbar {
    @apply w-[calc(var(--scrollbarSize)*1.5)] h-[var(--scrollbarSize)];
  }

  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    @apply bg-green-100;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-green-600;
  }

  ::-webkit-scrollbar-track:hover,
  ::-webkit-scrollbar-track:active {
    @apply bg-green-300;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg;
  }
}
